<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rishi.app.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rishi.app.app.LoginActivity"
            android:label="@string/title_activity_login" >


        </activity>
        <activity
            android:name="com.rishi.app.app.HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rishi.app.app.RegisterActivity"
            android:label="@string/app_name" >

        </activity>

        <activity android:name=".CameraActivity">


        </activity>

        <activity android:name=".AlbumMediaDisplay">


        </activity>

        <activity android:name=".FullScreenMediaDisplay">


        </activity>
    </application>

</manifest>
