<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rishi.app.app" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.rishi.app.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rishi.app.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".LaunchScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label=""
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" />
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".AlbumMediaDisplay"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".FullScreenMediaDisplay" />
        <activity
            android:name=".NewAlbum"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddMoreMedia" />
        <activity android:name=".AlbumMediaSelect" />
        <activity android:name=".ToPersonalAlbum" />
        <activity android:name=".ToSharedAlbum" />
        <activity
            android:name=".SharedAlbumMediaDisplay"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".SharedAlbumMediaSelect" />
        <activity android:name=".Userbase" />
        <activity
            android:name=".HomeSettings"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".EditProfile"
            android:parentActivityName=".HomeSettings" />
        <activity
            android:name=".EditEmail"
            android:parentActivityName=".HomeSettings" />
        <activity
            android:name=".EditPassword"
            android:parentActivityName=".HomeSettings" />
        <activity
            android:name=".CameraFullImageDisplayActivity"
            android:label="@string/title_activity_camera_full_image_display" />
        <activity
            android:name=".SharedMediaDisplay"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".SampleSync"
            android:label="@string/title_activity_sample_sync"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver android:name=".NewImageBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON" />
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>

        <activity android:name=".Sync" >
        </activity>
        <activity android:name=".Notification" >
        </activity>
        <activity android:name=".EmailAuthentication" >
        </activity>
        <activity android:name=".RegistrationDetails" >
        </activity>
        <activity android:name=".UploadDP" />
        <activity android:name=".Invitations"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".InvitationsContacts"
            android:parentActivityName=".Invitations"/>
        <activity android:name=".SearchUser"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".GetCode"
            android:parentActivityName=".SearchUser"/>
        <activity android:name=".PasswordReset" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="info.androidhive.gcm" />
            </intent-filter>
        </receiver>

        <receiver android:name=".NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGcmPushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GcmIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name=".ImageUploadService" >
        </service>

        <activity
            android:name=".SyncMediaDisplayActivity"
            android:label="@string/title_activity_sync_media_display"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name=".SyncMediaFullScreenActivity" >
        </activity>
    </application>

</manifest>
